
*{
    padding: 0px;
    margin: 0px;
}



.falash-game-container{
    display: flex; 
    margin-top: 50px;
}

.game-view {
    order:1;
    flex:80%;
    margin-top:50px;
}


.player-area {

}

.player-details{
    margin:50px;

}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
.cards-container img {
    height:150px;
    width: 110px;
    margin: 8px;

}


.right-sidebar {
    order: 2;
    flex: 20%;
    flex-direction: column;
}

.deck {

}

.deck img {
    height:150px;
    width: 110px;
}
.console {
    height: 500px;
    width:500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    width:70px;
    height: 40px;
    font-size: 20;
    margin: 10px;
    padding: 10px;
    

}